/* src/components/Footer.css */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 0.5rem;
  }
  
  a:hover {
    color: #ff4500; /* Change color on hover */
  }
  